.btn.btn-primary,
.btn.btn-secondary {
  padding: 7px 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: normal;
  border: none;
}

.btn.btn-primary,
.btn.btn-primary:active:focus {
  color: white;
  background-color: #f65261;
  border: 2px solid #f65261;

}

.btn.btn-secondary,
.btn.btn-secondary:active:focus {
  color: #f65261;
  border: 2px solid #f65261;
  background-color: #232323;
}
